.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  z-index: 0;

  & + div {
    &,
    & > * {
      z-index: 1;
    }
  }

  .image {
    border-radius: 0 !important;
    opacity: 0.25;
  }
}
